﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index"> 
  <div class="form-group">
    <label for="backgroundPdf">1º Seleção de background</label>
    <input type="file" class="form-control" id="backgroundPdf"  name="backgroundPdf" />
  </div>
    
    <div class="form-group" id="editor">
    <label for="summernote">Texto Certificado</label>
    <textarea  class="form-control text-center"   name="editordata" style=" height:  calc( 60vw * 0.58);
                                                                                min-width: 297px;
                                                                                min-height: 210px;
                                                                                font-size:1.6em;">
     </textarea>  
    </div>  
    <div class="form-group">      
    <label>2º Adicionar Participantes;</label>
    <textarea class="form-control"></textarea>
    </div>   
    <div class="form-group">  
    <input class="form-control" type="submit" value="Enviar por E-mail" name="Upload" />
    </div> 

</form>
</div>